{{#if points}}
  <table class="table table-bordered table-hover table-dark">
    <thead>
      <tr>
        <th>N°</th>
        <th>Username</th>
        <th>Description</th>
        <th>Points</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      {{#each points}}
        <tr>
          <td>{{@index}}</td>
          <td><strong>{{username}}</strong></td>
          <td>{{description}}</td>
          <td>{{point}}</td>
          <td>
            {{!-- {{#if done}}
              <a
                class="btn btn-success"
                href="/empleados/{{_id}}/toggleDone"
              >Done</a>
            {{else}}
              <a class="btn btn-dark" href="/empleados/{{_id}}/toggleDone">
                Undone
              </a>
            {{/if}} --}}
            <a href="/point/{{_id}}/delete" class="btn btn-danger">
              Delete
            </a>
            <a href="/point/{{_id}}/edit" class="btn btn-info">
              Edit
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
      <h1>No hay puntuaciones</h1>
      <img src="/icons/empty.svg" class="w-75" />
    </div>

  </div>
{{/if}}
  

