<div class="container">
  <div class="row">
    <!--FORM-->
    <div class="col-md-5 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h1>Actualizar Datos</h1>

          <form action="/products/{{product._id}}/edit" method="post">
            <div class="mb-3">
              <input
                class="form-control"
                type="text"
                name="productName"
                placeholder="productName"
                value="{{product.productName}}"
              />
            </div>
            <div class="mb-3">
              <input
                class="form-control"
                type="text"
                name="productImage"
                placeholder="productImage"
                value="{{product.productImage}}"
              />
            </div>
            <div class="mb-3">
              <textarea
                class="form-control"
                name="description"
                rows="3"
                placeholder="Add a Description"
              >{{product.description}}</textarea>
            </div>
            <div class="mb-3">
              <textarea
                class="form-control"
                name="description"
                rows="3"
                placeholder="Add a Points"
              >{{product.points}}</textarea>
            </div>

            <div class="mb-3">
              <input
                class="form-control"
                type="text"
                name="category"
                placeholder="category"
                value="{{product.category}}"
              />
            </div>

            <button class="btn btn-primary" type="submit">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>