{{#if notifications}}
  <table class="table table-bordered table-hover table-dark">
    <thead>
      <tr>
        <th>N°</th>
        <th>title</th>
        <th>Description</th>
        <th>username</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      {{#each notifications}}
        <tr>
          <td>{{@index}}</td>
          <td><strong>{{title}}</strong></td>
          <td>{{description}}</td>
          <td>{{username}}</td>
          <td>
            {{!-- {{#if done}}
              <a
                class="btn btn-success"
                href="/empleados/{{_id}}/toggleDone"
              >Done</a>
            {{else}}
              <a class="btn btn-dark" href="/empleados/{{_id}}/toggleDone">
                Undone
              </a>
            {{/if}} --}}
            <a href="/notification/{{_id}}/delete" class="btn btn-danger">
              Delete
            </a>
            <a href="/notification/{{_id}}/edit" class="btn btn-info">
              Edit
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
      <h1>No hay Notificaciones</h1>
      <img src="/icons/empty.svg" class="w-75" />
    </div>

  </div>
{{/if}}
  

